# Backend
fastapi
uvicorn
pydantic
python-dotenv

# LangChain & LLMs
langchain-groq
langchain-huggingface
sentence-transformers
langchain==0.0.340
langchain-core==0.0.340
langchain-community==0.0.340

# Embeddings & Vector DB
faiss-cpu

# PDF/Text processing
pypdf
python-docx
pymupdf

# Frontend
streamlit
streamlit-chat
requests

