# Backend
fastapi
uvicorn
pydantic
python-dotenv

# LangChain & LLMs
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
sentence-transformers

# Embeddings & Vector DB
faiss-cpu

# PDF/Text processing
pypdf
python-docx
pymupdf

# Frontend
streamlit
streamlit-chat
requests

# Optional (for Jupyter testing)
notebook
